h2 {
    color: #51a2da;
    text-align: center;
}

h3 {
    font-size: 14pt;
}

.card {
    width: 250px;
    min-height: 150px;
    text-align: center;
    padding-top: 20px;
}

.card img {
    max-width: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #f8f9fa;
    font-family: "Open Sans";
    color: #363636;
}

.app-group {
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 2px solid #e9ecef;
    font-size: 1.25rem;
}

.app-group-header p {
    text-align: center;
    margin-bottom: 40px;
}

#menu {
    background-color: #52a2da;
}

#menu .navbar {
    height: 41px;
    padding-left: 0px;
    padding-right: 0px;
}

#menu a {
    color: white;
}

#menu input {
    background-color: #52a2da;
    color: white;
}

::placeholder {
  color: white !important;
  opacity: 1;
}

.popover {
   max-width: 400px !important;
}

.popover-body {
   padding-top: 10px;
   padding-left: 20px;
   padding-right: 20px;
   padding-bottom: 20px;
}
